.header {
  padding: 12px 0;

  @include breakpoint(md) {
    padding: 16px 0;
  }

  &__inner {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto auto fit-content(0);
    row-gap: 12px;

    @include breakpoint(md) {
      grid-auto-flow: column;
      grid-template-rows: unset;
      grid-template-columns: auto min-content min-content min-content auto;
    }

    @include breakpoint(lg) {
      grid-template-columns: min-content auto min-content min-content min-content;
    }
  }

  &__logo {

    svg {
      width: 117px;
      height: 48px;

      @include breakpoint(md) {
        width: 134px;
        height: 55px;
      }
    }
  }

  &__nav {
    text-transform: uppercase;
    background-color: $white;
    display: none;

    @include breakpoint(lg) {
      @include flexCenterCenter;
    }

    ul {
      @include breakpoint(lg) {
        @include flexAlignCenter;
        gap: 24px;
      }

      li {
        text-wrap: nowrap;

        a {
          font-weight: 500;
        }
      }
    }

  }

  &__navbar-close {
    display: none;
  }

  &__socials {
    @include flexAlignCenter;
    gap: 12px;

    @include breakpoint(md) {
      gap: 8px;
      margin-right: 8px;
    }

    @include breakpoint(xl) {
      gap: 16px;
      margin-right: 16px;
    }

    &-whatsapp {
      @include breakpoint(md) {
        position: relative;
        &:after {
          content: '';
          height: 1px;
          width: 25px;
          background: $black-stroke;
          position: absolute;
          transform: rotate(90deg) translateX(46%);
          top: 0;
          right: -17px;
          pointer-events: none;

          @include breakpoint(xl) {
            right: -21px;
          }
        }
      }
    }
  }

  &__cart {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: flex-end;
    margin-right: 12px;
    width: 48px;
    height: 48px;
    border: 1px solid $blue-stroke;
    border-radius: 50%;
    @include flexCenterCenter;
    position: relative;
    cursor: pointer;

    @include breakpoint(md) {
      grid-column: unset;
      margin-right: 8px;
    }

    @include breakpoint(xl) {
      margin-right: 16px;
    }

    &:after {
      position: absolute;
      content: attr(data-count);
      width: 14px;
      height: 14px;
      background-color: $orange-accent;
      border-radius: 50%;
      font-size: 10px;
      color: $white;
      @include flexCenterCenter;
      top: 0;
      right: 0;
    }
  }

  &__contacts {
    justify-self: flex-end;
    grid-column: 2 / 4;
    text-wrap: nowrap;

    @include breakpoint(md) {
      grid-column: unset;
      display: grid;
      gap: 4px;
      grid-auto-rows: min-content;
    }

    &-phone {
    }

    &-mail {
      display: none;

      @include breakpoint(md) {
        display: block;
        text-decoration: underline;
      }
    }
  }

  &__burger {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 48px;
    height: 48px;
    background-color: $black-stroke;
    border-radius: 50%;
    @include flexCenterCenter;
    cursor: pointer;
    justify-self: flex-end;

    @include breakpoint(md) {
      grid-column: unset;
    }

    @include breakpoint(lg) {
      display: none;
    }
  }
}

.navbar-js {
  display: grid;
  background-color: $white;
  position: fixed;
  top: 0;
  left: -200%;
  //left: 0;
  height: 100%;
  width: 80vw;
  justify-content: space-between;
  padding: 32px;
  transition: .4s ease;
  grid-template-columns: 1fr;
  z-index: 10;

  @include breakpoint(md) {
    width: 100%;

    top: 200%;
    height: calc(100% - 80px);
    left: 0;
  }

  &.opened {
    left: 0;

    @include breakpoint(md) {
      top: 80px;
    }

    &:before {
      display: block;
    }
  }

  &:before {
    content: '';
    display: none;
    position: absolute;
    background-color: #000000B2;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateX(100%);

    @include breakpoint(md) {
      transform: unset;
      height: 80px;
      top: -80px;
    }
  }

  .header__logo {
    @include breakpoint(md) {
      display: none;
    }
  }

  .header__nav {
    display: block;
    align-self: center;

    ul {
      display: grid;
      gap: 28px;

      @include breakpoint(md) {
        justify-content: center;
        justify-items: center;
      }
    }
  }

  .header__contacts {
    justify-self: flex-start;
    grid-column: unset;
    align-content: flex-end;

    @include breakpoint(md) {
      justify-self: center;
      justify-items: center;
    }

    &-mail {
      display: block;
    }
  }

  .header__navbar-close {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: $blue-accent;
    border-radius: 50%;
    @include flexCenterCenter;
    top: 13px;
    right: -8px;
    transform: translateX(100%);

    img {
      width: 13px;
      height: auto;
    }

    @include breakpoint(md) {
      transform: translateX(0) translateY(-100%);
      right: 22px;
      top: -13px;
    }
  }
}