.header {
  padding: 12px 0;

  @include breakpoint(md) {
    padding: 16px 0;
  }

  &__inner {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto auto fit-content(0);
    row-gap: 12px;

    @include breakpoint(md) {
      grid-auto-flow: column;
      grid-template-rows: unset;
      grid-template-columns: auto min-content min-content min-content auto;
    }

    @include breakpoint(lg) {
      grid-template-columns: min-content auto min-content min-content min-content;
    }
  }

  &__logo {

    svg {
      width: 117px;
      height: 48px;

      @include breakpoint(md) {
        width: 134px;
        height: 55px;
      }
    }
  }

  &__nav {
    text-transform: uppercase;
    background-color: $white;
    display: none;

    @include breakpoint(lg) {
      @include flexCenterCenter;
    }

    ul {
      @include breakpoint(lg) {
        @include flexAlignCenter;
        gap: 24px;
      }

      li {
        text-wrap: nowrap;

        a {
          font-weight: 500;
        }
      }
    }

  }

  &__socials {
    @include flexAlignCenter;
    gap: 12px;

    @include breakpoint(md) {
      gap: 8px;
      margin-right: 8px;
    }

    @include breakpoint(xl) {
      gap: 16px;
      margin-right: 16px;
    }

    &-whatsapp {
      @include breakpoint(md) {
        position: relative;
        &:after {
          content: '';
          height: 1px;
          width: 25px;
          background: $black-stroke;
          position: absolute;
          transform: rotate(90deg) translateX(46%);
          top: 0;
          right: -17px;

          @include breakpoint(xl) {
            right: -21px;
          }
        }
      }
    }
  }

  &__cart {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: flex-end;
    margin-right: 12px;
    width: 48px;
    height: 48px;
    border: 1px solid $blue-stroke;
    border-radius: 50%;
    @include flexCenterCenter;
    position: relative;
    cursor: pointer;

    @include breakpoint(md) {
      grid-column: unset;
      margin-right: 8px;
    }

    @include breakpoint(xl) {
      margin-right: 16px;
    }

    &:after {
      position: absolute;
      content: attr(data-item);
      width: 14px;
      height: 14px;
      background-color: $orange-accent;
      border-radius: 50%;
      font-size: 10px;
      color: $white;
      @include flexCenterCenter;
      top: 0;
      right: 0;
    }
  }

  &__contacts {
    justify-self: flex-end;
    grid-column: 2 / 4;
    text-wrap: nowrap;

    @include breakpoint(md) {
      grid-column: unset;
      display: grid;
      gap: 4px;
      grid-auto-rows: min-content;
    }

    &-phone {
    }

    &-mail {
      display: none;

      @include breakpoint(md) {
        display: block;
        text-decoration: underline;
      }
    }
  }

  &__burger {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 48px;
    height: 48px;
    background-color: $black-stroke;
    border-radius: 50%;
    @include flexCenterCenter;
    cursor: pointer;
    justify-self: flex-end;

    @include breakpoint(md) {
      grid-column: unset;
    }

    @include breakpoint(lg) {
      display: none;
    }
  }
}